<table class="table table-hover floorplans" style="font-size: 16px;">
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td><%= floorplan.num_bedrooms %> Bedroom</td>
      <td><%= floorplan.num_bathrooms %> Bathroom</td>
      <td><%= floorplan.square_footage %> sq. ft.</td>
      <td><span class="strong green">$<%= floorplan.rent %></span>&nbsp;/<%= floorplan.rent_type %></td>
      <td><button class="demo btn btn-default btn-large" data-toggle="modal" href="#myModal" style="margin-bottom: 10px;"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;View Floorplan</button></td>
    </tr>
  </tbody>
</table>    

<!--
<div class="floorplan">
	<strong><%= floorplan.name %></strong>
	<ul>
		<li>Bathrooms: <%= floorplan.num_bathrooms %></li>
		<li>Bedrooms: <%= floorplan.num_bedrooms %></li>
		<li>Rent: <%= floorplan.rent %></li>
		<li>Rent Type: <%= floorplan.rent_type %></li>
		<li>Square Footage: <%= floorplan.square_footage %></li>
		<li>Lease Term: <%= floorplan.lease_term %></li>
		<li>Deposit: <%= floorplan.deposit %></li>
		<li>Lease Type: <%= floorplan.lease_type %></li>
	</ul>
</div>
-->