floorplan.listing<h1>Step Three</h1>
<h3>Add Some Floorplans</h3>

<%= render 'floorplans/form', :listing_id => @floorplan.listing.id %>

<%= form_for @floorplan.images.new, remote: true do |f| %>

<%= f.file_field :image_file %>
<br>
<%= f.submit "Upload" %>

<% end %>



<%= link_to "Finish", @floorplan.listing %>