<div class="jumbotron">
	<div class="jumbotron-inner">
		<div class="container">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="search-headline">
					<h1 class="">Find the perfect <strong>apartment</strong> in minutes.</h1>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1">
				<div class="search">
					<%= form_for(:search, url: "/search", class: "home-search-bar") do |f| %>
						<div class="input-group-search">
							<div class="input-group inline-for7">
								<div class="input-group pull-left" id="bedrooms" style="padding-right: 30px">
									<div class="search-label pull-left">Beds</div>
									<%= select_tag :num_bedrooms, options_for_select(@bedroom_options), class: "pull-left btn btn-group btn-lg btn-danger", style: "-webkit-appearance: none;"  %>
								</div>
								<div class="input-group pull-left" id="bedrooms" style="padding-right: 30px">
									<div class="search-label pull-left">Baths</div>
									<%= select_tag :num_bathrooms, options_for_select(@bathroom_options), class: "pull-left btn btn-group btn-lg btn-danger", style: "-webkit-appearance: none;" %>
								</div>
								<div class="input-group pull-left" style="padding-right: 30px">
									<div class="search-label pull-left">Display Type</div>
									<%= select_tag :display_type, options_for_select(['Select&nbsp;&#8595;'.html_safe] + @display_options), class: "pull-left btn btn-group btn-lg btn-danger", style: "-webkit-appearance: none;"  %>
								</div>
								
								<div class="input-group-end pull-left" style="margin-top: 1px;">
									<%= f.submit "Search", class: "btn btn-success btn-lg pull-right", style: "margin-left: 30px; margin-right: 6px; font-size: 22px; padding: 6px 16px; line-height: 1.3" %>
								</div>
							</div><!-- /input-group -->
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="section wrapper-index">
	<div class="row-fluid">
		<div class="col-md-5 col-md-offset-1">
			<div>
				<h3>Intuitively Designed</h3>
				<div>
					<p>We strive to make the user's experience as painless as possible, and we achieve this through better design. No more stuggling on the internet, navigating poorly presented websites, to get the information you need. Find it all here, quickly and easily.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<%= image_tag "home/placeholder1.png", class: "img-responsive", style: "vertical-align:middle" %>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<section class="section">
	<div class="row-fluid">
		<div class="col-md-5 col-md-offset-1">
			<div>
				<h3>Multipurpose &amp; Responsive Ready</h3>
				<div>
					<p>With the help of local landlords, we personally compile all of the data found in our listings, making sure each property is accurately represented. We get the best information about what they offer so that you can make a better decision.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<%= image_tag "home/placeholder2.png", class: "img-responsive", style: "vertical-align:middle" %>
		</div>
		<div class="clearfix"></div>
	</div>
</section>