<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @listing.zip %>
</p>

<p>
  <strong>Descrption:</strong>
  <%= @listing.descrption %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @listing.contact_email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @listing.phone_number %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @listing.website_url %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @listing.featured %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @listing.slug %>
</p>

<p>
  <strong>Geocode:</strong>
  <%= @listing.geocode %>
</p>

<p>
  <strong>Active:</strong>
  <%= @listing.active %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @listing.neighborhood_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<h3>Floorplans:</h3>
<% @listing.floorplans.each do |floorplan| %>
  <%= render partial: 'shared/floorplan', object: floorplan %>
<% end %>

