<h4><%= @floorplan.name  %></h4>
<ul>
	<li>Bathrooms: <%= @floorplan.num_bathrooms %></li>
	<li>Bedrooms: <%= @floorplan.num_bedrooms %></li>
	<li>Rent: <%= @floorplan.rent %></li>
	<li>Rent Type: <%= @floorplan.rent_type %></li>
	<li>Square Footage: <%= @floorplan.square_footage %></li>
</ul>
