<div class="floorplan">
	<strong><%= floorplan.name %></strong>
	<ul>
		<li>Bathrooms: <%= floorplan.num_bathrooms %></li>
		<li>Bedrooms: <%= floorplan.num_bedrooms %></li>
		<li>Rent: <%= floorplan.rent %></li>
		<li>Rent Type: <%= floorplan.rent_type %></li>
		<li>Square Footage: <%= floorplan.square_footage %></li>
		<li>Lease Term: <%= floorplan.lease_term %></li>
		<li>Deposit: <%= floorplan.deposit %></li>
		<li>Lease Type: <%= floorplan.lease_type %></li>
	</ul>
</div>