<%= render 'layouts/header' %>

<body class="container">
	<% if signed_in? %>
		<p class="alert <%= current_landlord.has_incomplete_listings? ? "alert-warning" : "alert-info" %>">
			Signed in as <%= current_landlord.email %>
			<%= link_to "Sign Out?", signout_path, method: :delete %>
			<% if current_landlord.has_incomplete_listings? %>
				<span class="pull-right">You have incomplete listings!</span>
			<% end %>
		</p>
	<% end %>
	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
</body>

<%= render 'layouts/footer' %>